.LOGO {
  position: absolute;
  top: -70px;
  left: 30px;
  width: 300px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/background-gradient-green-tones_23-2148382072.jpg");
  background-size: cover;
}

.container {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  border: 5px solid #000000;
  width: 300px; /* Juster bredden efter behov */
  height: 200px; /* Juster højden efter behov */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
